# 0.   Packages and Functions

In [1]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in d:\programdata\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: lxml in d:\programdata\anaconda3\lib\site-packages (from pandas_datareader) (4.5.2)
Requirement already satisfied: pandas>=0.23 in d:\programdata\anaconda3\lib\site-packages (from pandas_datareader) (1.0.5)
Requirement already satisfied: requests>=2.19.0 in d:\programdata\anaconda3\lib\site-packages (from pandas_datareader) (2.24.0)
Requirement already satisfied: numpy>=1.13.3 in d:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in d:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in d:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2020.1)
Requirement already satisfied: chardet<4,>=3.0.2 in d:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in d:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in d:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in d:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.25.9)
Requirement already satisfied: six>=1.5 in c:\users\imanr\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.6.1->pandas>=0.23->pandas_datareader) (1.15.0)

In [83]:

#general
import pandas as pd
import numpy as np

#for dates and times
import random
import time
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar

#prices
import pandas_datareader as web

In [84]:


def str_time_prop(start, end, format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formated in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, format))
    etime = time.mktime(time.strptime(end, format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(format, time.localtime(ptime))


def random_date(start, end, prop):
    return str_time_prop(start, end, '%Y-%m-%d', prop)

In [85]:
def weekend2weekday (transactions, col_date, col_day):


  dates2_BUY=list()
  days2_BUY=list()

  for index,row in transactions.iterrows():
    buy_date = datetime.datetime.strptime(row[col_date], "%Y-%m-%d")
    if row[col_day]=='Sat':
      buy_date2 = buy_date - datetime.timedelta(1)
      dates2_BUY.append(buy_date2)

      buy_day2='Fri'
      days2_BUY.append(buy_day2)
    elif row[col_day]=='Sun':
      buy_date = datetime.datetime.strptime(row[col_day], "%Y-%m-%d")
      buy_date2 = buy_date + datetime.timedelta(1)
      dates2_BUY.append(buy_date2)

      buy_day2='Mon'
      days2_BUY.append(buy_day2)
    else:
      buy_date2=row[col_date]
      dates2_BUY.append(buy_date2)
      buy_day2=row[col_day]
      days2_BUY.append(buy_day2)

    transactions['date_BUY_fix']=dates2_BUY
    transactions['day_BUY_fix']=days2_BUY


  return transactions

# 1. Setting investment parameters

## Temporal horizons
 In number of days
 - 1 day to 2 years

In [86]:
horizons=[1,2,3,4,5,6,7,10,15,20,30,40,50,60,70,80,90,100,120,150,180,210,240,270,300,330,360,420,480,540,600,660,720]

## Amounts in dollars
 - 50 to 50,000 dollars

In [87]:
amounts=[50,100,200,300,400,500,1000,1500,2000,3000,4000,5000,10000,15000,20000,25000,50000]

# 2. Data extraction

## Companies' stock prices

In [88]:
#Selecting a list of companies we are interested in analyzing:
companies = ['AAPL',
            'AMZN',
            'MSFT',
            'GOOG',
            'FB',
            'VISA',
            'NVDA',
            'PG',
            'TSLA']

We are going to extract info from 10 years from the companies selected

In [89]:
#Collecting the data of each company in a list
l_companies_prices=list()
error_companies=list()

for company in companies:
    try:
        prices= web.DataReader(company, data_source='yahoo', start='2010-10-10', end='2020-10-10')
        l_companies_prices.append(prices)
        print(company)
    
    except :
        print('There were  errors when extracting data of  ', company)
        #elimino de la lista esa empresa que no se consiguieron datos.
        error_companies.append(company)

for c in error_companies:
  companies.remove(c)

AAPL
AMZN
MSFT
GOOG
FB
There were  errors when extracting data of   VISA
NVDA
PG
TSLA

In [90]:
companies

['AAPL', 'AMZN', 'MSFT', 'GOOG', 'FB', 'NVDA', 'PG', 'TSLA']

In [91]:
len(l_companies_prices)

8

In [11]:
len(companies)

8

In [92]:
print(companies[1])
l_companies_prices[1].columns

AMZN

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [13]:
company_pos=companies.index("AAPL")
l_companies_prices[company_pos].loc['2010-10-11','Close']

10.54857063293457

In [95]:
l_companies_prices[4].to_csv('PG_prices.csv')

In [96]:
l_companies_prices[4]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2012-05-18,45.000000,38.000000,42.049999,38.230000,573576400,38.230000
2012-05-21,36.660000,33.000000,36.529999,34.029999,168192700,34.029999
2012-05-22,33.590000,30.940001,32.610001,31.000000,101786600,31.000000
2012-05-23,32.500000,31.360001,31.370001,32.000000,73600000,32.000000
2012-05-24,33.209999,31.770000,32.950001,33.029999,50237200,33.029999
...,...,...,...,...,...,...
2020-10-05,264.869995,260.839996,262.200012,264.649994,12822300,264.649994
2020-10-06,265.690002,258.239990,261.779999,258.660004,18696900,258.660004
2020-10-07,260.179993,254.820007,259.209991,258.119995,23133400,258.119995
2020-10-08,264.619995,259.149994,259.750000,263.760010,16312800,263.760010
2020-10-09,264.750000,262.170013,264.519989,264.450012,14107800,264.450012

VOLATILITY

In [100]:
l_volatilities = []
for company in companies:
    company_pos=companies.index(company)
    df_company_prices = pd.DataFrame(l_companies_prices[company_pos])
    log_ret = np.log(df_company_prices['Close'] / df_company_prices['Close'].shift(1))
    volatility = log_ret.rolling(window=252).std() * np.sqrt(252)
    df_company_prices.insert(2, "Volatility", volatility, True)
    l_volatilities.append(df_company_prices)

In [17]:
print(l_volatilities)

[                  High         Low  Volatility        Open       Close  \
Date
2010-10-11   10.615714   10.521429         NaN   10.526429   10.548571
2010-10-12   10.696429   10.446071         NaN   10.550357   10.662143
2010-10-13   10.784286   10.707143         NaN   10.721429   10.719286
2010-10-14   10.802500   10.728571         NaN   10.774643   10.796786
2010-10-15   11.250000   10.889643         NaN   10.980000   11.240714
...                ...         ...         ...         ...         ...
2020-10-05  116.650002  113.550003    0.444997  113.910004  116.500000
2020-10-06  116.120003  112.250000    0.446135  115.699997  113.160004
2020-10-07  115.550003  114.129997    0.446117  114.620003  115.080002
2020-10-08  116.400002  114.589996    0.446045  116.250000  114.970001
2020-10-09  117.000000  114.919998    0.446154  115.279999  116.970001

                 Volume   Adj Close
Date
2010-10-11  427753200.0    9.099727
2010-10-12  558544000.0    9.197704
2010-10-13  630092400.0    9.247000
2010-10-14  435296400.0    9.313856
2010-10-15  922194000.0    9.696809
...                 ...         ...
2020-10-05  106243800.0  116.299355
2020-10-06  161498200.0  112.965111
2020-10-07   96849000.0  114.881805
2020-10-08   83477200.0  114.771988
2020-10-09  100506900.0  116.768547

[2518 rows x 7 columns],                    High          Low  Volatility         Open        Close  \
Date
2010-10-11   156.630005   152.339996         NaN   154.889999   153.029999
2010-10-12   156.949997   151.399994         NaN   152.509995   156.479996
2010-10-13   156.789993   153.850006         NaN   156.690002   155.169998
2010-10-14   156.949997   154.229996         NaN   155.160004   155.529999
2010-10-15   164.880005   156.750000         NaN   158.419998   164.639999
...                 ...          ...         ...          ...          ...
2020-10-05  3202.530029  3140.850098    0.357626  3145.840088  3199.199951
2020-10-06  3182.000000  3090.000000    0.359176  3165.000000  3099.959961
2020-10-07  3200.000000  3132.389893    0.359809  3135.000000  3195.689941
2020-10-08  3233.290039  3174.989990    0.359761  3224.989990  3190.550049
2020-10-09  3288.989990  3197.830078    0.360772  3210.000000  3286.649902

              Volume    Adj Close
Date
2010-10-11   4486400   153.029999
2010-10-12   5280800   156.479996
2010-10-13   5632800   155.169998
2010-10-14   4024100   155.529999
2010-10-15  10135500   164.639999
...              ...          ...
2020-10-05   3775300  3199.199951
2020-10-06   5086900  3099.959961
2020-10-07   4309400  3195.689941
2020-10-08   3174100  3190.550049
2020-10-09   4907900  3286.649902

[2518 rows x 7 columns],                   High         Low  Volatility        Open       Close  \
Date
2010-10-11   24.740000   24.500000         NaN   24.740000   24.590000
2010-10-12   24.930000   24.430000         NaN   24.650000   24.830000
2010-10-13   25.540001   24.889999         NaN   25.020000   25.340000
2010-10-14   25.340000   25.000000         NaN   25.290001   25.230000
2010-10-15   25.549999   25.230000         NaN   25.360001   25.540001
...                ...         ...         ...         ...         ...
2020-10-05  210.410004  206.979996    0.427042  207.220001  210.380005
2020-10-06  210.179993  204.820007    0.427577  208.820007  205.910004
2020-10-07  210.110001  206.720001    0.427746  207.059998  209.830002
2020-10-08  211.190002  208.320007    0.427408  210.509995  210.580002
2020-10-09  215.860001  211.229996    0.427996  211.229996  215.809998

                Volume   Adj Close
Date
2010-10-11  27587800.0   19.431374
2010-10-12  50141500.0   19.621023
2010-10-13  75336500.0   20.024035
2010-10-14  51949100.0   19.937109
2010-10-15  68954800.0   20.182076
...                ...         ...
2020-10-05  21331600.0  209.830658
2020-10-06  28554300.0  205.372330
2020-10-07  25681100.0  209.282089
2020-10-08  19925800.0  210.030136
2020-10-09  26458000.0  215.246475

[2518 rows x 7 columns],                    High          Low  Volatility         Open        Close  \
Date
2010-10-11   271.283173   267.582031         NaN   268.234589   268.413910
2010-10-12   271.975555   267.890869         NaN   269.051544   269.684143
2010-10-13   272.722778   270.152405         NaN   272.478668   270.635590
2010-10-14   271.606964   267.552155         NaN   271.073944   269.455017
2010-10-15   299.696655   294.695404         NaN   298.516083   299.602020
...                 ...          ...         ...          ...          ...
2020-10-05  1488.209961  1464.270020    0.366517  1466.209961  1486.020020
2020-10-06  1486.760010  1448.589966    0.367233  1475.579956  1453.439941
2020-10-07  1468.959961  1436.000000    0.366892  1464.290039  1460.290039
2020-10-08  1490.000000  1465.089966    0.367126  1465.089966  1485.930054
2020-10-09  1516.520020  1489.449951    0.367575  1494.699951  1515.219971

                Volume    Adj Close
Date
2010-10-11   5272288.0   268.413910
2010-10-12   7535339.0   269.684143
2010-10-13   6134106.0   270.635590
2010-10-14  13317932.0   269.455017
2010-10-15  29760734.0   299.602020
...                ...          ...
2020-10-05   1113300.0  1486.020020
2020-10-06   1245400.0  1453.439941
2020-10-07   1746200.0  1460.290039
2020-10-08   1187800.0  1485.930054
2020-10-09   1435300.0  1515.219971

[2518 rows x 7 columns],                   High         Low  Volatility        Open       Close  \
Date
2012-05-18   45.000000   38.000000         NaN   42.049999   38.230000
2012-05-21   36.660000   33.000000         NaN   36.529999   34.029999
2012-05-22   33.590000   30.940001         NaN   32.610001   31.000000
2012-05-23   32.500000   31.360001         NaN   31.370001   32.000000
2012-05-24   33.209999   31.770000         NaN   32.950001   33.029999
...                ...         ...         ...         ...         ...
2020-10-05  264.869995  260.839996    0.433419  262.200012  264.649994
2020-10-06  265.690002  258.239990    0.434068  261.779999  258.660004
2020-10-07  260.179993  254.820007    0.433909  259.209991  258.119995
2020-10-08  264.619995  259.149994    0.434256  259.750000  263.760010
2020-10-09  264.750000  262.170013    0.434257  264.519989  264.450012

               Volume   Adj Close
Date
2012-05-18  573576400   38.230000
2012-05-21  168192700   34.029999
2012-05-22  101786600   31.000000
2012-05-23   73600000   32.000000
2012-05-24   50237200   33.029999
...               ...         ...
2020-10-05   12822300  264.649994
2020-10-06   18696900  258.660004
2020-10-07   23133400  258.119995
2020-10-08   16312800  263.760010
2020-10-09   14107800  264.450012

[2113 rows x 7 columns],                   High         Low  Volatility        Open       Close  \
Date
2010-10-11   11.000000   10.760000         NaN   10.910000   10.810000
2010-10-12   11.070000   10.630000         NaN   10.720000   11.020000
2010-10-13   11.500000   11.080000         NaN   11.200000   11.340000
2010-10-14   11.370000   11.110000         NaN   11.350000   11.160000
2010-10-15   11.470000   11.160000         NaN   11.340000   11.290000
...                ...         ...         ...         ...         ...
2020-10-05  545.770020  528.909973    0.569931  529.440002  545.700012
2020-10-06  565.679993  546.599976    0.569872  553.200012  549.460022
2020-10-07  564.770020  554.539978    0.568312  559.989990  558.559998
2020-10-08  563.380005  550.320007    0.568276  563.000000  553.549988
2020-10-09  552.969971  546.429993    0.568302  550.679993  550.510010

                Volume   Adj Close
Date
2010-10-11  11067000.0    9.938853
2010-10-12  15130200.0   10.131928
2010-10-13  24218300.0   10.426142
2010-10-14  14979300.0   10.260649
2010-10-15  15998500.0   10.380170
...                ...         ...
2020-10-05  11995500.0  545.538818
2020-10-06  19610500.0  549.297729
2020-10-07  10452100.0  558.395020
2020-10-08   9472500.0  553.386475
2020-10-09   8672300.0  550.347412

[2518 rows x 7 columns],                   High         Low  Volatility        Open       Close  \
Date
2010-10-11   62.209999   61.860001         NaN   61.919998   62.139999
2010-10-12   62.180000   61.560001         NaN   62.009998   62.020000
2010-10-13   62.930000   62.080002         NaN   62.230000   62.630001
2010-10-14   62.840000   62.520000         NaN   62.669998   62.799999
2010-10-15   63.000000   62.549999         NaN   62.970001   62.759998
...                ...         ...         ...         ...         ...
2020-10-05  139.649994  138.300003    0.323947  138.720001  139.389999
2020-10-06  140.770004  138.809998    0.323797  139.419998  139.610001
2020-10-07  141.389999  139.369995    0.323470  140.080002  140.699997
2020-10-08  141.929993  140.360001    0.323428  140.559998  141.649994
2020-10-09  143.639999  141.699997    0.323533  141.839996  142.919998

                Volume   Adj Close
Date
2010-10-11   7425200.0   45.275635
2010-10-12  24975000.0   45.188206
2010-10-13   9906000.0   45.632656
2010-10-14   8771400.0   45.756523
2010-10-15   9943500.0   45.727375
...                ...         ...
2020-10-05   6333900.0  138.620316
2020-10-06   6042900.0  138.839096
2020-10-07   4640900.0  139.923080
2020-10-08   4569800.0  140.867828
2020-10-09   6551700.0  142.130814

[2518 rows x 7 columns],                   High         Low  Volatility        Open       Close  \
Date
2010-10-11    4.140000    4.014000         NaN    4.088000    4.048000
2010-10-12    4.056000    4.006000         NaN    4.040000    4.048000
2010-10-13    4.170000    4.072000         NaN    4.128000    4.108000
2010-10-14    4.206000    4.080000         NaN    4.200000    4.150000
2010-10-15    4.180000    4.050000         NaN    4.178000    4.108000
...                ...         ...         ...         ...         ...
2020-10-05  433.640015  419.329987    0.885442  423.350006  425.679993
2020-10-06  428.779999  406.049988    0.886014  423.790009  413.980011
2020-10-07  429.899994  413.850006    0.886204  419.869995  425.299988
2020-10-08  439.000000  425.299988    0.886178  438.440002  425.920013
2020-10-09  434.589996  426.459991    0.886202  430.130005  434.000000

                Volume   Adj Close
Date
2010-10-11    856000.0    4.048000
2010-10-12   1220000.0    4.048000
2010-10-13   1591000.0    4.108000
2010-10-14   1474000.0    4.150000
2010-10-15   1423500.0    4.108000
...                ...         ...
2020-10-05  44722800.0  425.679993
2020-10-06  49146300.0  413.980011
2020-10-07  43127700.0  425.299988
2020-10-08  40421100.0  425.920013
2020-10-09  28925700.0  434.000000

[2518 rows x 7 columns]]

In [101]:
l_returns = []
for company in companies:
    company_pos=companies.index(company)
    df_company_prices = pd.DataFrame(l_companies_prices[company_pos])
    returns = (df_company_prices['Close'] - df_company_prices['Close'].shift(1)) / df_company_prices['Close'].shift(1)
    df_company_prices.insert(2, "returns", returns, True)
    l_returns.append(df_company_prices)

In [57]:
l_returns

[                  High         Low   returns   returns   returns  Volatility  \
 Date
 2010-10-11   10.615714   10.521429       NaN       NaN       NaN         NaN
 2010-10-12   10.696429   10.446071  0.010767  0.010767  1.010767         NaN
 2010-10-13   10.784286   10.707143  0.005359  0.005359  1.005359         NaN
 2010-10-14   10.802500   10.728571  0.007230  0.007230  1.007230         NaN
 2010-10-15   11.250000   10.889643  0.041117  0.041117  1.041117         NaN
 ...                ...         ...       ...       ...       ...         ...
 2020-10-05  116.650002  113.550003  0.030791  0.030791  1.030791    0.444997
 2020-10-06  116.120003  112.250000 -0.028669 -0.028669  0.971331    0.446135
 2020-10-07  115.550003  114.129997  0.016967  0.016967  1.016967    0.446117
 2020-10-08  116.400002  114.589996 -0.000956 -0.000956  0.999044    0.446045
 2020-10-09  117.000000  114.919998  0.017396  0.017396  1.017396    0.446154

                   Open       Close       Volume   Adj Close
 Date
 2010-10-11   10.526429   10.548571  427753200.0    9.099727
 2010-10-12   10.550357   10.662143  558544000.0    9.197704
 2010-10-13   10.721429   10.719286  630092400.0    9.247000
 2010-10-14   10.774643   10.796786  435296400.0    9.313856
 2010-10-15   10.980000   11.240714  922194000.0    9.696809
 ...                ...         ...          ...         ...
 2020-10-05  113.910004  116.500000  106243800.0  116.299355
 2020-10-06  115.699997  113.160004  161498200.0  112.965111
 2020-10-07  114.620003  115.080002   96849000.0  114.881805
 2020-10-08  116.250000  114.970001   83477200.0  114.771988
 2020-10-09  115.279999  116.970001  100506900.0  116.768547

 [2518 rows x 10 columns],
                    High          Low   returns   returns   returns  \
 Date
 2010-10-11   156.630005   152.339996       NaN       NaN       NaN
 2010-10-12   156.949997   151.399994  0.022545  0.022545  1.022545
 2010-10-13   156.789993   153.850006 -0.008372 -0.008372  0.991628
 2010-10-14   156.949997   154.229996  0.002320  0.002320  1.002320
 2010-10-15   164.880005   156.750000  0.058574  0.058574  1.058574
 ...                 ...          ...       ...       ...       ...
 2020-10-05  3202.530029  3140.850098  0.023744  0.023744  1.023744
 2020-10-06  3182.000000  3090.000000 -0.031020 -0.031020  0.968980
 2020-10-07  3200.000000  3132.389893  0.030881  0.030881  1.030881
 2020-10-08  3233.290039  3174.989990 -0.001608 -0.001608  0.998392
 2020-10-09  3288.989990  3197.830078  0.030120  0.030120  1.030120

             Volatility         Open        Close    Volume    Adj Close
 Date
 2010-10-11         NaN   154.889999   153.029999   4486400   153.029999
 2010-10-12         NaN   152.509995   156.479996   5280800   156.479996
 2010-10-13         NaN   156.690002   155.169998   5632800   155.169998
 2010-10-14         NaN   155.160004   155.529999   4024100   155.529999
 2010-10-15         NaN   158.419998   164.639999  10135500   164.639999
 ...                ...          ...          ...       ...          ...
 2020-10-05    0.357626  3145.840088  3199.199951   3775300  3199.199951
 2020-10-06    0.359176  3165.000000  3099.959961   5086900  3099.959961
 2020-10-07    0.359809  3135.000000  3195.689941   4309400  3195.689941
 2020-10-08    0.359761  3224.989990  3190.550049   3174100  3190.550049
 2020-10-09    0.360772  3210.000000  3286.649902   4907900  3286.649902

 [2518 rows x 10 columns],
                   High         Low   returns   returns   returns  Volatility  \
 Date
 2010-10-11   24.740000   24.500000       NaN       NaN       NaN         NaN
 2010-10-12   24.930000   24.430000  0.009760  0.009760  1.009760         NaN
 2010-10-13   25.540001   24.889999  0.020540  0.020540  1.020540         NaN
 2010-10-14   25.340000   25.000000 -0.004341 -0.004341  0.995659         NaN
 2010-10-15   25.549999   25.230000  0.012287  0.012287  1.012287         NaN
 ...                ...         ...       ...       ...       ...         ...
 2020-10-05  210.410004  206.979996  0.020321  0.020321  1.020321    0.427042
 2020-10-06  210.179993  204.820007 -0.021247 -0.021247  0.978753    0.427577
 2020-10-07  210.110001  206.720001  0.019037  0.019037  1.019037    0.427746
 2020-10-08  211.190002  208.320007  0.003574  0.003574  1.003574    0.427408
 2020-10-09  215.860001  211.229996  0.024836  0.024836  1.024836    0.427996

                   Open       Close      Volume   Adj Close
 Date
 2010-10-11   24.740000   24.590000  27587800.0   19.431374
 2010-10-12   24.650000   24.830000  50141500.0   19.621023
 2010-10-13   25.020000   25.340000  75336500.0   20.024035
 2010-10-14   25.290001   25.230000  51949100.0   19.937109
 2010-10-15   25.360001   25.540001  68954800.0   20.182076
 ...                ...         ...         ...         ...
 2020-10-05  207.220001  210.380005  21331600.0  209.830658
 2020-10-06  208.820007  205.910004  28554300.0  205.372330
 2020-10-07  207.059998  209.830002  25681100.0  209.282089
 2020-10-08  210.509995  210.580002  19925800.0  210.030136
 2020-10-09  211.229996  215.809998  26458000.0  215.246475

 [2518 rows x 10 columns],
                    High          Low   returns   returns   returns  \
 Date
 2010-10-11   271.283173   267.582031       NaN       NaN       NaN
 2010-10-12   271.975555   267.890869  0.004732  0.004732  1.004732
 2010-10-13   272.722778   270.152405  0.003528  0.003528  1.003528
 2010-10-14   271.606964   267.552155 -0.004362 -0.004362  0.995638
 2010-10-15   299.696655   294.695404  0.111881  0.111881  1.111881
 ...                 ...          ...       ...       ...       ...
 2020-10-05  1488.209961  1464.270020  0.018925  0.018925  1.018925
 2020-10-06  1486.760010  1448.589966 -0.021924 -0.021924  0.978076
 2020-10-07  1468.959961  1436.000000  0.004713  0.004713  1.004713
 2020-10-08  1490.000000  1465.089966  0.017558  0.017558  1.017558
 2020-10-09  1516.520020  1489.449951  0.019712  0.019712  1.019712

             Volatility         Open        Close      Volume    Adj Close
 Date
 2010-10-11         NaN   268.234589   268.413910   5272288.0   268.413910
 2010-10-12         NaN   269.051544   269.684143   7535339.0   269.684143
 2010-10-13         NaN   272.478668   270.635590   6134106.0   270.635590
 2010-10-14         NaN   271.073944   269.455017  13317932.0   269.455017
 2010-10-15         NaN   298.516083   299.602020  29760734.0   299.602020
 ...                ...          ...          ...         ...          ...
 2020-10-05    0.366517  1466.209961  1486.020020   1113300.0  1486.020020
 2020-10-06    0.367233  1475.579956  1453.439941   1245400.0  1453.439941
 2020-10-07    0.366892  1464.290039  1460.290039   1746200.0  1460.290039
 2020-10-08    0.367126  1465.089966  1485.930054   1187800.0  1485.930054
 2020-10-09    0.367575  1494.699951  1515.219971   1435300.0  1515.219971

 [2518 rows x 10 columns],
                   High         Low   returns   returns   returns  Volatility  \
 Date
 2012-05-18   45.000000   38.000000       NaN       NaN       NaN         NaN
 2012-05-21   36.660000   33.000000 -0.109861 -0.109861  0.890139         NaN
 2012-05-22   33.590000   30.940001 -0.089039 -0.089039  0.910961         NaN
 2012-05-23   32.500000   31.360001  0.032258  0.032258  1.032258         NaN
 2012-05-24   33.209999   31.770000  0.032187  0.032187  1.032187         NaN
 ...                ...         ...       ...       ...       ...         ...
 2020-10-05  264.869995  260.839996  0.018120  0.018120  1.018120    0.433419
 2020-10-06  265.690002  258.239990 -0.022634 -0.022634  0.977366    0.434068
 2020-10-07  260.179993  254.820007 -0.002088 -0.002088  0.997912    0.433909
 2020-10-08  264.619995  259.149994  0.021850  0.021850  1.021850    0.434256
 2020-10-09  264.750000  262.170013  0.002616  0.002616  1.002616    0.434257

                   Open       Close     Volume   Adj Close
 Date
 2012-05-18   42.049999   38.230000  573576400   38.230000
 2012-05-21   36.529999   34.029999  168192700   34.029999
 2012-05-22   32.610001   31.000000  101786600   31.000000
 2012-05-23   31.370001   32.000000   73600000   32.000000
 2012-05-24   32.950001   33.029999   50237200   33.029999
 ...                ...         ...        ...         ...
 2020-10-05  262.200012  264.649994   12822300  264.649994
 2020-10-06  261.779999  258.660004   18696900  258.660004
 2020-10-07  259.209991  258.119995   23133400  258.119995
 2020-10-08  259.750000  263.760010   16312800  263.760010
 2020-10-09  264.519989  264.450012   14107800  264.450012

 [2113 rows x 10 columns],
                   High         Low   returns   returns   returns  Volatility  \
 Date
 2010-10-11   11.000000   10.760000       NaN       NaN       NaN         NaN
 2010-10-12   11.070000   10.630000  0.019426  0.019426  1.019426         NaN
 2010-10-13   11.500000   11.080000  0.029038  0.029038  1.029038         NaN
 2010-10-14   11.370000   11.110000 -0.015873 -0.015873  0.984127         NaN
 2010-10-15   11.470000   11.160000  0.011649  0.011649  1.011649         NaN
 ...                ...         ...       ...       ...       ...         ...
 2020-10-05  545.770020  528.909973  0.044422  0.044422  1.044422    0.569931
 2020-10-06  565.679993  546.599976  0.006890  0.006890  1.006890    0.569872
 2020-10-07  564.770020  554.539978  0.016562  0.016562  1.016562    0.568312
 2020-10-08  563.380005  550.320007 -0.008970 -0.008970  0.991030    0.568276
 2020-10-09  552.969971  546.429993 -0.005492 -0.005492  0.994508    0.568302

                   Open       Close      Volume   Adj Close
 Date
 2010-10-11   10.910000   10.810000  11067000.0    9.938853
 2010-10-12   10.720000   11.020000  15130200.0   10.131928
 2010-10-13   11.200000   11.340000  24218300.0   10.426142
 2010-10-14   11.350000   11.160000  14979300.0   10.260649
 2010-10-15   11.340000   11.290000  15998500.0   10.380170
 ...                ...         ...         ...         ...
 2020-10-05  529.440002  545.700012  11995500.0  545.538818
 2020-10-06  553.200012  549.460022  19610500.0  549.297729
 2020-10-07  559.989990  558.559998  10452100.0  558.395020
 2020-10-08  563.000000  553.549988   9472500.0  553.386475
 2020-10-09  550.679993  550.510010   8672300.0  550.347412

 [2518 rows x 10 columns],
                   High         Low   returns   returns   returns  Volatility  \
 Date
 2010-10-11   62.209999   61.860001       NaN       NaN       NaN         NaN
 2010-10-12   62.180000   61.560001 -0.001931 -0.001931  0.998069         NaN
 2010-10-13   62.930000   62.080002  0.009836  0.009836  1.009836         NaN
 2010-10-14   62.840000   62.520000  0.002714  0.002714  1.002714         NaN
 2010-10-15   63.000000   62.549999 -0.000637 -0.000637  0.999363         NaN
 ...                ...         ...       ...       ...       ...         ...
 2020-10-05  139.649994  138.300003  0.009195  0.009195  1.009195    0.323947
 2020-10-06  140.770004  138.809998  0.001578  0.001578  1.001578    0.323797
 2020-10-07  141.389999  139.369995  0.007807  0.007807  1.007807    0.323470
 2020-10-08  141.929993  140.360001  0.006752  0.006752  1.006752    0.323428
 2020-10-09  143.639999  141.699997  0.008966  0.008966  1.008966    0.323533

                   Open       Close      Volume   Adj Close
 Date
 2010-10-11   61.919998   62.139999   7425200.0   45.275635
 2010-10-12   62.009998   62.020000  24975000.0   45.188206
 2010-10-13   62.230000   62.630001   9906000.0   45.632656
 2010-10-14   62.669998   62.799999   8771400.0   45.756523
 2010-10-15   62.970001   62.759998   9943500.0   45.727375
 ...                ...         ...         ...         ...
 2020-10-05  138.720001  139.389999   6333900.0  138.620316
 2020-10-06  139.419998  139.610001   6042900.0  138.839096
 2020-10-07  140.080002  140.699997   4640900.0  139.923080
 2020-10-08  140.559998  141.649994   4569800.0  140.867828
 2020-10-09  141.839996  142.919998   6551700.0  142.130814

 [2518 rows x 10 columns],
                   High         Low   returns   returns   returns  Volatility  \
 Date
 2010-10-11    4.140000    4.014000       NaN       NaN       NaN         NaN
 2010-10-12    4.056000    4.006000  0.000000  0.000000  1.000000         NaN
 2010-10-13    4.170000    4.072000  0.014822  0.014822  1.014822         NaN
 2010-10-14    4.206000    4.080000  0.010224  0.010224  1.010224         NaN
 2010-10-15    4.180000    4.050000 -0.010121 -0.010121  0.989879         NaN
 ...                ...         ...       ...       ...       ...         ...
 2020-10-05  433.640015  419.329987  0.025513  0.025513  1.025513    0.885442
 2020-10-06  428.779999  406.049988 -0.027485 -0.027485  0.972515    0.886014
 2020-10-07  429.899994  413.850006  0.027344  0.027344  1.027344    0.886204
 2020-10-08  439.000000  425.299988  0.001458  0.001458  1.001458    0.886178
 2020-10-09  434.589996  426.459991  0.018971  0.018971  1.018971    0.886202

                   Open       Close      Volume   Adj Close
 Date
 2010-10-11    4.088000    4.048000    856000.0    4.048000
 2010-10-12    4.040000    4.048000   1220000.0    4.048000
 2010-10-13    4.128000    4.108000   1591000.0    4.108000
 2010-10-14    4.200000    4.150000   1474000.0    4.150000
 2010-10-15    4.178000    4.108000   1423500.0    4.108000
 ...                ...         ...         ...         ...
 2020-10-05  423.350006  425.679993  44722800.0  425.679993
 2020-10-06  423.790009  413.980011  49146300.0  413.980011
 2020-10-07  419.869995  425.299988  43127700.0  425.299988
 2020-10-08  438.440002  425.920013  40421100.0  425.920013
 2020-10-09  430.130005  434.000000  28925700.0  434.000000

 [2518 rows x 10 columns]]

yearly returns

In [102]:
l_yearly_returns = []
for company in companies:
    company_pos=companies.index(company)
    df_company_prices = pd.DataFrame(l_companies_prices[company_pos])
    try:
        df_yearly = df_company_prices["Close"].resample('Y').first().pct_change()
        
        yearly_mean = df_yearly.mean()
    except:
        print( company)
        print(df_company_prices)
        yearly_mean = 0
    l_yearly_returns.append([company,yearly_mean])
print(l_yearly_returns)

[['AAPL', 0.24576212706845474], ['AMZN', 0.32878772362638664], ['MSFT', 0.21823741952413256], ['GOOG', 0.191378431933231], ['FB', 0.30161872761801845], ['NVDA', 0.4931171561846849], ['PG', 0.07725201668740694], ['TSLA', 0.5157369284319866]]

# 3. Random transactions

In [103]:
transactions=pd.DataFrame()
#we do 40,000 initial transactions

#id
transactions['id']=range(1,40001)

## Companies

In [104]:
#random company
transactions["company"]=np.random.choice(companies, size=len(transactions))

## Horizons

In [105]:
#random horizon
transactions["horizon"] = np.random.choice(horizons, size=len(transactions))

## Investment Amounts

In [106]:
#random investment amount
transactions["amount"] = np.random.choice(amounts, size=len(transactions))

## Dates - BUY

In [107]:
#random buy date
start='2013-10-10'
end='2018-10-10'

dates_buy=list()

for i in range(0, transactions.shape[0]):
    r_date=random_date(start,end,random.random())
    dates_buy.append(r_date)


print(len(dates_buy))
transactions['date_BUY']=dates_buy

40000

### Fixing dates (BUY)

In [108]:
day_names=list()

for d in dates_buy:

  dt = datetime.datetime.strptime(d, '%Y-%m-%d')
  weekno=dt.weekday()

  if weekno == 0:
    dia='Mon'
    day_names.append(dia)
  elif weekno==1:
    dia='Tue'
    day_names.append(dia)
  elif weekno==2:
    dia='Wed'
    day_names.append(dia)
  elif weekno==3:
    dia='Thu'
    day_names.append(dia)
  elif weekno==4:
    dia='Fri'
    day_names.append(dia)
  elif weekno==5:
    dia='Sat'
    day_names.append(dia)
  elif weekno==6:
    dia='Sun'
    day_names.append(dia)

transactions['day_BUY']=day_names

In [109]:
dates2_BUY=list()
days2_BUY=list()

#if date is saturday, we are going to push it to friday
#if date is sunday, we are going to push it to monday

for index,row in transactions.iterrows():
  buy_date = datetime.datetime.strptime(row['date_BUY'], "%Y-%m-%d")
  if row['day_BUY']=='Sat':
    buy_date2 = buy_date - datetime.timedelta(1)
    dates2_BUY.append(buy_date2)

    buy_day2='Fri'
    days2_BUY.append(buy_day2)
  elif row['day_BUY']=='Sun':
    buy_date = datetime.datetime.strptime(row['date_BUY'], "%Y-%m-%d")
    buy_date2 = buy_date + datetime.timedelta(1)
    dates2_BUY.append(buy_date2)

    buy_day2='Mon'
    days2_BUY.append(buy_day2)
  else:
    buy_date2=buy_date
    dates2_BUY.append(buy_date2)
    buy_day2=row['day_BUY']
    days2_BUY.append(buy_day2)


transactions['date_BUY_fix']=dates2_BUY
transactions['day_BUY_fix']=days2_BUY

# transactions=weekend2weekday(transactions,'date_BUY','day_BUY' )

In [110]:
#checking for holidays (NYSE is closed)

cal = USFederalHolidayCalendar()
holidays = cal.holidays(start='2010-10-10', end='2020-10-10').to_pydatetime()
# if datetime.datetime(2014,01,01) in holidays:
#     print True 

l_holidays=list()
for d in dates2_BUY:
  if d in holidays:
    holiday='Holiday'
    l_holidays.append(holiday)

  else:
    holiday=''
    l_holidays.append(holiday)

transactions['holiday_BUY']=l_holidays

In [111]:
transactions_h=transactions[transactions.holiday_BUY=='Holiday']

transactions=transactions[transactions.holiday_BUY!='Holiday']

## Prices - BUY

In [112]:
#price when bought

l_buy_prices=list()
l_volatility=list()
for index,row in transactions.iterrows():
  comp=row['company']
  buy_date=row['date_BUY_fix']
  company_pos=companies.index(comp)
  try:
    price=l_companies_prices[company_pos].loc[buy_date,'Adj Close']
    volatility= l_volatilities[company_pos].loc[buy_date, 'Volatility']
  except :
    price=0
    

  l_buy_prices.append(price)

transactions['price_BUY']=l_buy_prices

VOLATILITY BUY

In [113]:
l_volatility_buy=list()
for index,row in transactions.iterrows():
  comp=row['company']
  buy_date=row['date_BUY_fix']
  company_pos=companies.index(comp)
  try:
    volatility= l_volatilities[company_pos].loc[buy_date, 'Volatility']
  except :
    volatility=0
  l_volatility_buy.append(volatility)
print(len(l_volatility_buy))


transactions['Volatility_Buy'] = l_volatility_buy

38046

## Dates - SELL

In [118]:
#random sell date
dates_SELL=list()
expected_return = list()

for index,row in transactions.iterrows():
  comp=row['company']
  company_pos=companies.index(comp)
  buy_date = row['date_BUY_fix']
  sell_date = buy_date + datetime.timedelta(row['horizon'])
  expected_return.append(row['horizon']/365 * l_yearly_returns[company_pos][1])
  
  dates_SELL.append(sell_date)

transactions['expected_return (yearly)'] = expected_return
transactions['date_SELL']=dates_SELL

### Fixing dates (SELL)

In [115]:
day_names=list()



for d in dates_SELL:

  # dt = datetime.datetime.strptime(d, '%Y-%m-%d')
  weekno=d.weekday()

  if weekno == 0:
    dia='Mon'
    day_names.append(dia)
  elif weekno==1:
    dia='Tue'
    day_names.append(dia)
  elif weekno==2:
    dia='Wed'
    day_names.append(dia)
  elif weekno==3:
    dia='Thu'
    day_names.append(dia)
  elif weekno==4:
    dia='Fri'
    day_names.append(dia)
  elif weekno==5:
    dia='Sat'
    day_names.append(dia)
  elif weekno==6:
    dia='Sun'
    day_names.append(dia)

transactions['day_SELL']=day_names

In [124]:
dates2_SELL=list()
days2_SELL=list()

#if date is saturday, we are going to push it to friday
#if date is sunday, we are going to push it to monday

for index,row in transactions.iterrows():
  SELL_date = row['date_SELL']
  if row['day_SELL']=='Sat':
    SELL_date2 = SELL_date - datetime.timedelta(1)
    dates2_SELL.append(SELL_date2)

    SELL_day2='Fri'
    days2_SELL.append(SELL_day2)
  elif row['day_SELL']=='Sun':
    SELL_date = row['date_SELL']
    SELL_date2 = SELL_date + datetime.timedelta(1)
    dates2_SELL.append(SELL_date2)

    SELL_day2='Mon'
    days2_SELL.append(SELL_day2)
  else:
    SELL_date2=SELL_date
    dates2_SELL.append(SELL_date2)
    SELL_day2=row['day_SELL']
    days2_SELL.append(SELL_day2)


transactions['date_SELL_fix']=dates2_SELL
transactions['day_SELL_fix']=days2_SELL

# transactions=weekend2weekday(transactions,'date_BUY','day_BUY' )

Sharpe Ratio

In [116]:
l_sharpe=list()
for index,row in transactions.iterrows():
  comp=row['company']
  buy_date=row['date_BUY_fix']
  company_pos=companies.index(comp)
  r = l_returns
  try:
    df_company_returns = pd.DataFrame(l_returns[company_pos])
    r=df_company_returns["returns"]
    sr = r.mean()/r.std() * np.sqrt(252)
    sr= l_volatilities[company_pos].loc[buy_date, 'Volatility']
  except :
    sr=0
  l_sharpe.append(sr)
print(len(l_sharpe))


transactions['Sharpe Ratio'] = l_sharpe

38046

In [122]:
transactions

,id,company,horizon,amount,date_BUY,day_BUY,date_BUY_fix,day_BUY_fix,holiday_BUY,price_BUY,Volatility_Buy,expected_return (yearly),date_SELL,day_SELL,Sharpe Ratio
0,1,AMZN,10,25000,2018-03-06,Tue,2018-03-06,Tue,,1537.640015,0.227187,0.009008,2018-03-16,Fri,0.227187
1,2,FB,15,400,2017-11-03,Fri,2017-11-03,Fri,,178.919998,0.178209,0.012395,2017-11-18,Sat,0.178209
2,3,AMZN,1,300,2017-04-29,Sat,2017-04-28,Fri,,924.989990,0.210226,0.000901,2017-04-29,Sat,0.210226
3,4,GOOG,360,3000,2014-07-22,Tue,2014-07-22,Tue,,593.111633,0.235331,0.188757,2015-07-17,Fri,0.235331
4,5,PG,15,50000,2014-11-12,Wed,2014-11-12,Wed,,74.582565,0.120184,0.003175,2014-11-27,Thu,0.120184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,39996,GOOG,360,2000,2015-01-14,Wed,2015-01-14,Wed,,499.498627,0.212721,0.188757,2016-01-09,Sat,0.212721
39996,39997,NVDA,30,50000,2016-10-11,Tue,2016-10-11,Tue,,65.229042,0.347704,0.040530,2016-11-10,Thu,0.347704
39997,39998,TSLA,330,50000,2018-05-10,Thu,2018-05-10,Thu,,61.004002,0.399889,0.466283,2019-04-05,Fri,0.399889
39998,39999,PG,40,50,2014-08-10,Sun,2014-08-11,Mon,,67.397537,0.127641,0.008466,2014-09-20,Sat,0.127641
39999,40000,FB,6,25000,2015-12-20,Sun,2015-12-21,Mon,,104.769997,0.257332,0.004958,2015-12-27,Sun,0.257332

In [125]:
#checking for holidays (NYSE is closed)
cal = USFederalHolidayCalendar()
holidays = cal.holidays(start='2010-10-10', end='2020-10-10').to_pydatetime()
# if datetime.datetime(2014,01,01) in holidays:
#     print True 

l_holidays=list()
for d in dates2_SELL:
  if d in holidays:
    holiday='Holiday'
    l_holidays.append(holiday)

  else:
    holiday=''
    l_holidays.append(holiday)

transactions['holiday_SELL']=l_holidays

## Prices - SELL

In [126]:
#price when sold

l_sell_prices=list()
for index,row in transactions.iterrows():
  comp=row['company']
  sell_date=row['date_SELL_fix']
  company_pos=companies.index(comp)
  try:
    price=l_companies_prices[company_pos].loc[sell_date,'Adj Close']
  except :
    price=0

  l_sell_prices.append(price)

transactions['price_SELL']=l_sell_prices

VOLATILITY SELL

In [127]:
l_volatility_sell=list()
for index,row in transactions.iterrows():
  comp=row['company']
  sell_date=row['date_SELL_fix']
  company_pos=companies.index(comp)
  try:
    volatility=l_volatilities[company_pos].loc[sell_date,'Volatility']
  except :
    volatility=0

  l_volatility_sell.append(volatility)

transactions['Volatility_sell']=l_volatility_sell

In [128]:
transactions_h=transactions[transactions.holiday_SELL=='Holiday']

transactions=transactions[transactions.holiday_SELL!='Holiday']

In [129]:
transactions

,id,company,horizon,amount,date_BUY,day_BUY,date_BUY_fix,day_BUY_fix,holiday_BUY,price_BUY,Volatility_Buy,expected_return (yearly),date_SELL,day_SELL,Sharpe Ratio,date_SELL_fix,day_SELL_fix,holiday_SELL,price_SELL,Volatility_sell
0,1,AMZN,10,25000,2018-03-06,Tue,2018-03-06,Tue,,1537.640015,0.227187,0.009008,2018-03-16,Fri,0.227187,2018-03-16,Fri,,1571.680054,0.228277
1,2,FB,15,400,2017-11-03,Fri,2017-11-03,Fri,,178.919998,0.178209,0.012395,2017-11-18,Sat,0.178209,2017-11-17,Fri,,179.000000,0.170551
2,3,AMZN,1,300,2017-04-29,Sat,2017-04-28,Fri,,924.989990,0.210226,0.000901,2017-04-29,Sat,0.210226,2017-04-28,Fri,,924.989990,0.210226
3,4,GOOG,360,3000,2014-07-22,Tue,2014-07-22,Tue,,593.111633,0.235331,0.188757,2015-07-17,Fri,0.235331,2015-07-17,Fri,,672.929993,0.248367
5,6,PG,80,2000,2016-02-19,Fri,2016-02-19,Fri,,71.017471,0.166489,0.016932,2016-05-09,Mon,0.166489,2016-05-09,Mon,,71.888115,0.164962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,39996,GOOG,360,2000,2015-01-14,Wed,2015-01-14,Wed,,499.498627,0.212721,0.188757,2016-01-09,Sat,0.212721,2016-01-08,Fri,,714.469971,0.288027
39996,39997,NVDA,30,50000,2016-10-11,Tue,2016-10-11,Tue,,65.229042,0.347704,0.040530,2016-11-10,Thu,0.347704,2016-11-10,Thu,,66.846718,0.328577
39997,39998,TSLA,330,50000,2018-05-10,Thu,2018-05-10,Thu,,61.004002,0.399889,0.466283,2019-04-05,Fri,0.399889,2019-04-05,Fri,,54.992001,0.586330
39998,39999,PG,40,50,2014-08-10,Sun,2014-08-11,Mon,,67.397537,0.127641,0.008466,2014-09-20,Sat,0.127641,2014-09-19,Fri,,69.870781,0.123412
39999,40000,FB,6,25000,2015-12-20,Sun,2015-12-21,Mon,,104.769997,0.257332,0.004958,2015-12-27,Sun,0.257332,2015-12-28,Mon,,105.930000,0.256781

In [130]:
transactions_ready=transactions[['company','horizon','amount','date_BUY_fix','date_SELL_fix','price_BUY','price_SELL','Volatility_Buy','Volatility_sell', 'Sharpe Ratio', 'expected_return (yearly)']]

In [131]:
transactions_ready

,company,horizon,amount,date_BUY_fix,date_SELL_fix,price_BUY,price_SELL,Volatility_Buy,Volatility_sell,Sharpe Ratio,expected_return (yearly)
0,AMZN,10,25000,2018-03-06,2018-03-16,1537.640015,1571.680054,0.227187,0.228277,0.227187,0.009008
1,FB,15,400,2017-11-03,2017-11-17,178.919998,179.000000,0.178209,0.170551,0.178209,0.012395
2,AMZN,1,300,2017-04-28,2017-04-28,924.989990,924.989990,0.210226,0.210226,0.210226,0.000901
3,GOOG,360,3000,2014-07-22,2015-07-17,593.111633,672.929993,0.235331,0.248367,0.235331,0.188757
5,PG,80,2000,2016-02-19,2016-05-09,71.017471,71.888115,0.166489,0.164962,0.166489,0.016932
...,...,...,...,...,...,...,...,...,...,...,...
39995,GOOG,360,2000,2015-01-14,2016-01-08,499.498627,714.469971,0.212721,0.288027,0.212721,0.188757
39996,NVDA,30,50000,2016-10-11,2016-11-10,65.229042,66.846718,0.347704,0.328577,0.347704,0.040530
39997,TSLA,330,50000,2018-05-10,2019-04-05,61.004002,54.992001,0.399889,0.586330,0.399889,0.466283
39998,PG,40,50,2014-08-11,2014-09-19,67.397537,69.870781,0.127641,0.123412,0.127641,0.008466
39999,FB,6,25000,2015-12-21,2015-12-28,104.769997,105.930000,0.257332,0.256781,0.257332,0.004958

## Filtering transactions with error (Price = 0)

In [132]:
price_error=transactions_ready[(transactions_ready.price_BUY==0) | (transactions_ready.price_SELL==0)]
print('with errors: ', price_error.shape)
print(transactions_ready.shape)

transactions_ready=pd.concat([transactions_ready, price_error, price_error]).drop_duplicates(keep=False)
print(transactions_ready.shape)

with errors:  (399, 11)
(36281, 11)
(35642, 11)

# Real Profit/Loss (Rentabilidad Real)

In [133]:
transactions_ready['nominal_return']=(transactions_ready['price_SELL']-transactions_ready['price_BUY'])/transactions_ready['price_BUY']

In [134]:
transactions_ready

,company,horizon,amount,date_BUY_fix,date_SELL_fix,price_BUY,price_SELL,Volatility_Buy,Volatility_sell,Sharpe Ratio,expected_return (yearly),nominal_return
0,AMZN,10,25000,2018-03-06,2018-03-16,1537.640015,1571.680054,0.227187,0.228277,0.227187,0.009008,0.022138
1,FB,15,400,2017-11-03,2017-11-17,178.919998,179.000000,0.178209,0.170551,0.178209,0.012395,0.000447
2,AMZN,1,300,2017-04-28,2017-04-28,924.989990,924.989990,0.210226,0.210226,0.210226,0.000901,0.000000
3,GOOG,360,3000,2014-07-22,2015-07-17,593.111633,672.929993,0.235331,0.248367,0.235331,0.188757,0.134576
5,PG,80,2000,2016-02-19,2016-05-09,71.017471,71.888115,0.166489,0.164962,0.166489,0.016932,0.012260
...,...,...,...,...,...,...,...,...,...,...,...,...
39995,GOOG,360,2000,2015-01-14,2016-01-08,499.498627,714.469971,0.212721,0.288027,0.212721,0.188757,0.430374
39996,NVDA,30,50000,2016-10-11,2016-11-10,65.229042,66.846718,0.347704,0.328577,0.347704,0.040530,0.024800
39997,TSLA,330,50000,2018-05-10,2019-04-05,61.004002,54.992001,0.399889,0.586330,0.399889,0.466283,-0.098551
39998,PG,40,50,2014-08-11,2014-09-19,67.397537,69.870781,0.127641,0.123412,0.127641,0.008466,0.036696
39999,FB,6,25000,2015-12-21,2015-12-28,104.769997,105.930000,0.257332,0.256781,0.257332,0.004958,0.011072

In [135]:
transactions_ready['investment']=''
investments=list()
for index, row in transactions_ready.iterrows():
  if row['nominal_return']>0:
    inv='GOOD'
    investments.append(inv)
  elif row['nominal_return']<0:
    inv='BAD'
    investments.append(inv)
  else:
    inv='0'
    investments.append(inv)

transactions_ready['investment']=investments

In [44]:
transactions_ready.shape

(35481, 9)

In [136]:
transactions_ready

,company,horizon,amount,date_BUY_fix,date_SELL_fix,price_BUY,price_SELL,Volatility_Buy,Volatility_sell,Sharpe Ratio,expected_return (yearly),nominal_return,investment
0,AMZN,10,25000,2018-03-06,2018-03-16,1537.640015,1571.680054,0.227187,0.228277,0.227187,0.009008,0.022138,GOOD
1,FB,15,400,2017-11-03,2017-11-17,178.919998,179.000000,0.178209,0.170551,0.178209,0.012395,0.000447,GOOD
2,AMZN,1,300,2017-04-28,2017-04-28,924.989990,924.989990,0.210226,0.210226,0.210226,0.000901,0.000000,0
3,GOOG,360,3000,2014-07-22,2015-07-17,593.111633,672.929993,0.235331,0.248367,0.235331,0.188757,0.134576,GOOD
5,PG,80,2000,2016-02-19,2016-05-09,71.017471,71.888115,0.166489,0.164962,0.166489,0.016932,0.012260,GOOD
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,GOOG,360,2000,2015-01-14,2016-01-08,499.498627,714.469971,0.212721,0.288027,0.212721,0.188757,0.430374,GOOD
39996,NVDA,30,50000,2016-10-11,2016-11-10,65.229042,66.846718,0.347704,0.328577,0.347704,0.040530,0.024800,GOOD
39997,TSLA,330,50000,2018-05-10,2019-04-05,61.004002,54.992001,0.399889,0.586330,0.399889,0.466283,-0.098551,BAD
39998,PG,40,50,2014-08-11,2014-09-19,67.397537,69.870781,0.127641,0.123412,0.127641,0.008466,0.036696,GOOD
39999,FB,6,25000,2015-12-21,2015-12-28,104.769997,105.930000,0.257332,0.256781,0.257332,0.004958,0.011072,GOOD

In [46]:
transactions_ready.investment.value_counts()

GOOD    24662
BAD     10478
0         341
Name: investment, dtype: int64

## Variables calculation