# 0.   Packages and Functions

In [1]:
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.9.0-py3-none-any.whl (107 kB)
Requirement already satisfied: pandas>=0.23 in c:\users\danieldabdub\anaconda3\lib\site-packages (from pandas_datareader) (1.0.5)
Requirement already satisfied: lxml in c:\users\danieldabdub\anaconda3\lib\site-packages (from pandas_datareader) (4.5.2)
Requirement already satisfied: requests>=2.19.0 in c:\users\danieldabdub\anaconda3\lib\site-packages (from pandas_datareader) (2.24.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\danieldabdub\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\danieldabdub\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\danieldabdub\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2020.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\danieldabdub\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\danieldabdub\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\danieldabdub\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\danieldabdub\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2020.6.20)
Requirement already satisfied: six>=1.5 in c:\users\danieldabdub\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.23->pandas_datareader) (1.15.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.9.0

In [2]:

#general
import pandas as pd
import numpy as np

#for dates and times
import random
import time
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar

#prices
import pandas_datareader as web

In [3]:


def str_time_prop(start, end, format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formated in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, format))
    etime = time.mktime(time.strptime(end, format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(format, time.localtime(ptime))


def random_date(start, end, prop):
    return str_time_prop(start, end, '%Y-%m-%d', prop)

In [4]:
def weekend2weekday (transactions, col_date, col_day):


  dates2_BUY=list()
  days2_BUY=list()

  for index,row in transactions.iterrows():
    buy_date = datetime.datetime.strptime(row[col_date], "%Y-%m-%d")
    if row[col_day]=='Sat':
      buy_date2 = buy_date - datetime.timedelta(1)
      dates2_BUY.append(buy_date2)

      buy_day2='Fri'
      days2_BUY.append(buy_day2)
    elif row[col_day]=='Sun':
      buy_date = datetime.datetime.strptime(row[col_day], "%Y-%m-%d")
      buy_date2 = buy_date + datetime.timedelta(1)
      dates2_BUY.append(buy_date2)

      buy_day2='Mon'
      days2_BUY.append(buy_day2)
    else:
      buy_date2=row[col_date]
      dates2_BUY.append(buy_date2)
      buy_day2=row[col_day]
      days2_BUY.append(buy_day2)

    transactions['date_BUY_fix']=dates2_BUY
    transactions['day_BUY_fix']=days2_BUY


  return transactions

# 1. Setting investment parameters

## Temporal horizons
 In number of days
 - 1 day to 2 years

In [5]:
horizons=[1,2,3,4,5,6,7,10,15,20,30,40,50,60,70,80,90,100,120,150,180,210,240,270,300,330,360,420,480,540,600,660,720]

## Amounts in dollars
 - 50 to 50,000 dollars

In [6]:
amounts=[50,100,200,300,400,500,1000,1500,2000,3000,4000,5000,10000,15000,20000,25000,50000]

# 2. Data extraction

## Companies' stock prices

In [7]:
#Selecting a list of companies we are interested in analyzing:
companies = ['AAPL',
            'AMZN',
            'MSFT',
            'GOOG',
            'FB',
            'VISA',
            'NVDA',
            'PG',
            'TSLA']

We are going to extract info from 10 years from the companies selected

In [8]:
#Collecting the data of each company in a list
l_companies_prices=list()
error_companies=list()

for company in companies:
    try:
        prices= web.DataReader(company, data_source='yahoo', start='2010-10-10', end='2020-10-10')
        l_companies_prices.append(prices)
        print(company)
    
    except :
        print('There were  errors when extracting data of  ', company)
        #elimino de la lista esa empresa que no se consiguieron datos.
        error_companies.append(company)

for c in error_companies:
  companies.remove(c)

AAPL
AMZN
MSFT
GOOG
FB
There were  errors when extracting data of   VISA
NVDA
PG
TSLA

In [9]:
companies

['AAPL', 'AMZN', 'MSFT', 'GOOG', 'FB', 'NVDA', 'PG', 'TSLA']

In [10]:
len(l_companies_prices)

8

In [11]:
len(companies)

8

In [12]:
print(companies[0])
l_companies_prices[0].columns

AAPL

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [13]:
company_pos=companies.index("AAPL")
l_companies_prices[company_pos].loc['2010-10-11','Close']

10.548571586608887

In [14]:
l_companies_prices[7].to_csv('PG_prices.csv')

In [15]:
l_companies_prices[7]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-10-11,4.140000,4.014000,4.088000,4.048000,856000.0,4.048000
2010-10-12,4.056000,4.006000,4.040000,4.048000,1220000.0,4.048000
2010-10-13,4.170000,4.072000,4.128000,4.108000,1591000.0,4.108000
2010-10-14,4.206000,4.080000,4.200000,4.150000,1474000.0,4.150000
2010-10-15,4.180000,4.050000,4.178000,4.108000,1423500.0,4.108000
...,...,...,...,...,...,...
2020-10-05,433.640015,419.329987,423.350006,425.679993,44722800.0,425.679993
2020-10-06,428.779999,406.049988,423.790009,413.980011,49146300.0,413.980011
2020-10-07,429.899994,413.850006,419.869995,425.299988,43127700.0,425.299988
2020-10-08,439.000000,425.299988,438.440002,425.920013,40421100.0,425.920013
2020-10-09,434.589996,426.459991,430.130005,434.000000,28925700.0,434.000000

# 3. Random transactions

In [16]:
transactions=pd.DataFrame()
#we do 40,000 initial transactions

#id
transactions['id']=range(1,40001)

## Companies

In [17]:
#random company
transactions["company"]=np.random.choice(companies, size=len(transactions))

## Horizons

In [18]:
#random horizon
transactions["horizon"] = np.random.choice(horizons, size=len(transactions))

## Investment Amounts

In [19]:
#random investment amount
transactions["amount"] = np.random.choice(amounts, size=len(transactions))

## Dates - BUY

In [20]:
#random buy date
start='2013-10-10'
end='2018-10-10'

dates_buy=list()

for i in range(0, transactions.shape[0]):
    r_date=random_date(start,end,random.random())
    dates_buy.append(r_date)


print(len(dates_buy))
transactions['date_BUY']=dates_buy

40000

### Fixing dates (BUY)

In [21]:
day_names=list()

for d in dates_buy:

  dt = datetime.datetime.strptime(d, '%Y-%m-%d')
  weekno=dt.weekday()

  if weekno == 0:
    dia='Mon'
    day_names.append(dia)
  elif weekno==1:
    dia='Tue'
    day_names.append(dia)
  elif weekno==2:
    dia='Wed'
    day_names.append(dia)
  elif weekno==3:
    dia='Thu'
    day_names.append(dia)
  elif weekno==4:
    dia='Fri'
    day_names.append(dia)
  elif weekno==5:
    dia='Sat'
    day_names.append(dia)
  elif weekno==6:
    dia='Sun'
    day_names.append(dia)

transactions['day_BUY']=day_names

In [22]:
dates2_BUY=list()
days2_BUY=list()

#if date is saturday, we are going to push it to friday
#if date is sunday, we are going to push it to monday

for index,row in transactions.iterrows():
  buy_date = datetime.datetime.strptime(row['date_BUY'], "%Y-%m-%d")
  if row['day_BUY']=='Sat':
    buy_date2 = buy_date - datetime.timedelta(1)
    dates2_BUY.append(buy_date2)

    buy_day2='Fri'
    days2_BUY.append(buy_day2)
  elif row['day_BUY']=='Sun':
    buy_date = datetime.datetime.strptime(row['date_BUY'], "%Y-%m-%d")
    buy_date2 = buy_date + datetime.timedelta(1)
    dates2_BUY.append(buy_date2)

    buy_day2='Mon'
    days2_BUY.append(buy_day2)
  else:
    buy_date2=buy_date
    dates2_BUY.append(buy_date2)
    buy_day2=row['day_BUY']
    days2_BUY.append(buy_day2)


transactions['date_BUY_fix']=dates2_BUY
transactions['day_BUY_fix']=days2_BUY

# transactions=weekend2weekday(transactions,'date_BUY','day_BUY' )

In [23]:
#checking for holidays (NYSE is closed)

cal = USFederalHolidayCalendar()
holidays = cal.holidays(start='2010-10-10', end='2020-10-10').to_pydatetime()
# if datetime.datetime(2014,01,01) in holidays:
#     print True 

l_holidays=list()
for d in dates2_BUY:
  if d in holidays:
    holiday='Holiday'
    l_holidays.append(holiday)

  else:
    holiday=''
    l_holidays.append(holiday)

transactions['holiday_BUY']=l_holidays

In [24]:
transactions_h=transactions[transactions.holiday_BUY=='Holiday']

transactions=transactions[transactions.holiday_BUY!='Holiday']

## Prices - BUY

In [25]:
#price when bought

l_buy_prices=list()
for index,row in transactions.iterrows():
  comp=row['company']
  buy_date=row['date_BUY_fix']
  company_pos=companies.index(comp)
  try:
    price=l_companies_prices[company_pos].loc[buy_date,'Adj Close']
  except :
    price=0

  l_buy_prices.append(price)

transactions['price_BUY']=l_buy_prices

## Dates - SELL

In [26]:
#random sell date
dates_SELL=list()

for index,row in transactions.iterrows():

  buy_date = row['date_BUY_fix']
  sell_date = buy_date + datetime.timedelta(row['horizon'])
  
  dates_SELL.append(sell_date)

transactions['date_SELL']=dates_SELL

### Fixing dates (SELL)

In [27]:
day_names=list()



for d in dates_SELL:

  # dt = datetime.datetime.strptime(d, '%Y-%m-%d')
  weekno=d.weekday()

  if weekno == 0:
    dia='Mon'
    day_names.append(dia)
  elif weekno==1:
    dia='Tue'
    day_names.append(dia)
  elif weekno==2:
    dia='Wed'
    day_names.append(dia)
  elif weekno==3:
    dia='Thu'
    day_names.append(dia)
  elif weekno==4:
    dia='Fri'
    day_names.append(dia)
  elif weekno==5:
    dia='Sat'
    day_names.append(dia)
  elif weekno==6:
    dia='Sun'
    day_names.append(dia)

transactions['day_SELL']=day_names

In [28]:
dates2_SELL=list()
days2_SELL=list()

#if date is saturday, we are going to push it to friday
#if date is sunday, we are going to push it to monday

for index,row in transactions.iterrows():
  SELL_date = row['date_SELL']
  if row['day_SELL']=='Sat':
    SELL_date2 = SELL_date - datetime.timedelta(1)
    dates2_SELL.append(SELL_date2)

    SELL_day2='Fri'
    days2_SELL.append(SELL_day2)
  elif row['day_SELL']=='Sun':
    SELL_date = row['date_SELL']
    SELL_date2 = SELL_date + datetime.timedelta(1)
    dates2_SELL.append(SELL_date2)

    SELL_day2='Mon'
    days2_SELL.append(SELL_day2)
  else:
    SELL_date2=SELL_date
    dates2_SELL.append(SELL_date2)
    SELL_day2=row['day_SELL']
    days2_SELL.append(SELL_day2)


transactions['date_SELL_fix']=dates2_SELL
transactions['day_SELL_fix']=days2_SELL

# transactions=weekend2weekday(transactions,'date_BUY','day_BUY' )

In [29]:
transactions

,id,company,horizon,amount,date_BUY,day_BUY,date_BUY_fix,day_BUY_fix,holiday_BUY,price_BUY,date_SELL,day_SELL,date_SELL_fix,day_SELL_fix
0,1,AMZN,600,400,2016-04-02,Sat,2016-04-01,Fri,,598.500000,2017-11-22,Wed,2017-11-22,Wed
1,2,NVDA,120,1500,2017-11-24,Fri,2017-11-24,Fri,,215.159576,2018-03-24,Sat,2018-03-23,Fri
2,3,PG,90,500,2018-08-11,Sat,2018-08-10,Fri,,76.616516,2018-11-08,Thu,2018-11-08,Thu
3,4,TSLA,5,200,2016-10-14,Fri,2016-10-14,Fri,,39.301998,2016-10-19,Wed,2016-10-19,Wed
4,5,FB,5,20000,2014-02-07,Fri,2014-02-07,Fri,,64.320000,2014-02-12,Wed,2014-02-12,Wed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,39996,FB,720,500,2016-02-02,Tue,2016-02-02,Tue,,114.610001,2018-01-22,Mon,2018-01-22,Mon
39996,39997,AAPL,720,300,2017-05-17,Wed,2017-05-17,Wed,,35.876579,2019-05-07,Tue,2019-05-07,Tue
39997,39998,NVDA,300,300,2015-04-02,Thu,2015-04-02,Thu,,20.347946,2016-01-27,Wed,2016-01-27,Wed
39998,39999,PG,20,200,2015-07-05,Sun,2015-07-06,Mon,,67.737602,2015-07-26,Sun,2015-07-27,Mon
39999,40000,MSFT,270,5000,2014-08-27,Wed,2014-08-27,Wed,,39.610332,2015-05-24,Sun,2015-05-25,Mon

In [30]:
#checking for holidays (NYSE is closed)
cal = USFederalHolidayCalendar()
holidays = cal.holidays(start='2010-10-10', end='2020-10-10').to_pydatetime()
# if datetime.datetime(2014,01,01) in holidays:
#     print True 

l_holidays=list()
for d in dates2_SELL:
  if d in holidays:
    holiday='Holiday'
    l_holidays.append(holiday)

  else:
    holiday=''
    l_holidays.append(holiday)

transactions['holiday_SELL']=l_holidays

## Prices - SELL

In [31]:
#price when sold

l_sell_prices=list()
for index,row in transactions.iterrows():
  comp=row['company']
  sell_date=row['date_SELL_fix']
  company_pos=companies.index(comp)
  try:
    price=l_companies_prices[company_pos].loc[sell_date,'Adj Close']
  except :
    price=0

  l_sell_prices.append(price)

transactions['price_SELL']=l_sell_prices

In [32]:
transactions_h=transactions[transactions.holiday_SELL=='Holiday']

transactions=transactions[transactions.holiday_SELL!='Holiday']

In [33]:
transactions

,id,company,horizon,amount,date_BUY,day_BUY,date_BUY_fix,day_BUY_fix,holiday_BUY,price_BUY,date_SELL,day_SELL,date_SELL_fix,day_SELL_fix,holiday_SELL,price_SELL
0,1,AMZN,600,400,2016-04-02,Sat,2016-04-01,Fri,,598.500000,2017-11-22,Wed,2017-11-22,Wed,,1156.160034
1,2,NVDA,120,1500,2017-11-24,Fri,2017-11-24,Fri,,215.159576,2018-03-24,Sat,2018-03-23,Fri,,231.180344
2,3,PG,90,500,2018-08-11,Sat,2018-08-10,Fri,,76.616516,2018-11-08,Thu,2018-11-08,Thu,,86.719101
3,4,TSLA,5,200,2016-10-14,Fri,2016-10-14,Fri,,39.301998,2016-10-19,Wed,2016-10-19,Wed,,40.712002
4,5,FB,5,20000,2014-02-07,Fri,2014-02-07,Fri,,64.320000,2014-02-12,Wed,2014-02-12,Wed,,64.449997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39994,39995,NVDA,210,100,2015-02-05,Thu,2015-02-05,Thu,,19.721281,2015-09-03,Thu,2015-09-03,Thu,,21.707588
39995,39996,FB,720,500,2016-02-02,Tue,2016-02-02,Tue,,114.610001,2018-01-22,Mon,2018-01-22,Mon,,185.369995
39996,39997,AAPL,720,300,2017-05-17,Wed,2017-05-17,Wed,,35.876579,2019-05-07,Tue,2019-05-07,Tue,,49.748940
39997,39998,NVDA,300,300,2015-04-02,Thu,2015-04-02,Thu,,20.347946,2016-01-27,Wed,2016-01-27,Wed,,27.748758
39998,39999,PG,20,200,2015-07-05,Sun,2015-07-06,Mon,,67.737602,2015-07-26,Sun,2015-07-27,Mon,,68.224007

In [34]:
transactions_ready=transactions[['company','horizon','amount','date_BUY_fix','date_SELL_fix','price_BUY','price_SELL']]

In [35]:
transactions_ready

,company,horizon,amount,date_BUY_fix,date_SELL_fix,price_BUY,price_SELL
0,AMZN,600,400,2016-04-01,2017-11-22,598.500000,1156.160034
1,NVDA,120,1500,2017-11-24,2018-03-23,215.159576,231.180344
2,PG,90,500,2018-08-10,2018-11-08,76.616516,86.719101
3,TSLA,5,200,2016-10-14,2016-10-19,39.301998,40.712002
4,FB,5,20000,2014-02-07,2014-02-12,64.320000,64.449997
...,...,...,...,...,...,...,...
39994,NVDA,210,100,2015-02-05,2015-09-03,19.721281,21.707588
39995,FB,720,500,2016-02-02,2018-01-22,114.610001,185.369995
39996,AAPL,720,300,2017-05-17,2019-05-07,35.876579,49.748940
39997,NVDA,300,300,2015-04-02,2016-01-27,20.347946,27.748758
39998,PG,20,200,2015-07-06,2015-07-27,67.737602,68.224007

## Filtering transactions with error (Price = 0)

In [36]:
price_error=transactions_ready[(transactions_ready.price_BUY==0) | (transactions_ready.price_SELL==0)]
print('with errors: ', price_error.shape)
print(transactions_ready.shape)

transactions_ready=pd.concat([transactions_ready, price_error, price_error]).drop_duplicates(keep=False)
print(transactions_ready.shape)

with errors:  (437, 7)
(36238, 7)
(35553, 7)

# Real Profit/Loss (Rentabilidad Real)

In [37]:
transactions_ready['nominal_return']=(transactions_ready['price_SELL']-transactions_ready['price_BUY'])/transactions_ready['price_BUY']

In [38]:
transactions_ready

,company,horizon,amount,date_BUY_fix,date_SELL_fix,price_BUY,price_SELL,nominal_return
0,AMZN,600,400,2016-04-01,2017-11-22,598.500000,1156.160034,0.931763
1,NVDA,120,1500,2017-11-24,2018-03-23,215.159576,231.180344,0.074460
2,PG,90,500,2018-08-10,2018-11-08,76.616516,86.719101,0.131859
3,TSLA,5,200,2016-10-14,2016-10-19,39.301998,40.712002,0.035876
4,FB,5,20000,2014-02-07,2014-02-12,64.320000,64.449997,0.002021
...,...,...,...,...,...,...,...,...
39994,NVDA,210,100,2015-02-05,2015-09-03,19.721281,21.707588,0.100719
39995,FB,720,500,2016-02-02,2018-01-22,114.610001,185.369995,0.617398
39996,AAPL,720,300,2017-05-17,2019-05-07,35.876579,49.748940,0.386669
39997,NVDA,300,300,2015-04-02,2016-01-27,20.347946,27.748758,0.363713
39998,PG,20,200,2015-07-06,2015-07-27,67.737602,68.224007,0.007181

In [39]:
transactions_ready['investment']=''
investments=list()
for index, row in transactions_ready.iterrows():
  if row['nominal_return']>0:
    inv='GOOD'
    investments.append(inv)
  elif row['nominal_return']<0:
    inv='BAD'
    investments.append(inv)
  else:
    inv='0'
    investments.append(inv)

transactions_ready['investment']=investments

In [40]:
transactions_ready.shape

(35553, 9)

In [41]:
transactions_ready

,company,horizon,amount,date_BUY_fix,date_SELL_fix,price_BUY,price_SELL,nominal_return,investment
0,AMZN,600,400,2016-04-01,2017-11-22,598.500000,1156.160034,0.931763,GOOD
1,NVDA,120,1500,2017-11-24,2018-03-23,215.159576,231.180344,0.074460,GOOD
2,PG,90,500,2018-08-10,2018-11-08,76.616516,86.719101,0.131859,GOOD
3,TSLA,5,200,2016-10-14,2016-10-19,39.301998,40.712002,0.035876,GOOD
4,FB,5,20000,2014-02-07,2014-02-12,64.320000,64.449997,0.002021,GOOD
...,...,...,...,...,...,...,...,...,...
39994,NVDA,210,100,2015-02-05,2015-09-03,19.721281,21.707588,0.100719,GOOD
39995,FB,720,500,2016-02-02,2018-01-22,114.610001,185.369995,0.617398,GOOD
39996,AAPL,720,300,2017-05-17,2019-05-07,35.876579,49.748940,0.386669,GOOD
39997,NVDA,300,300,2015-04-02,2016-01-27,20.347946,27.748758,0.363713,GOOD
39998,PG,20,200,2015-07-06,2015-07-27,67.737602,68.224007,0.007181,GOOD

In [42]:
transactions_ready.investment.value_counts()

GOOD    24660
BAD     10502
0         391
Name: investment, dtype: int64

## Variables calculation

### Expected return

In [43]:
l_returns=list()
l_stdDev=list()

for company in companies:
  company_pos=companies.index(company)
  prices_r=l_companies_prices[company_pos]['Adj Close']

  # Calculting log returns and std deviation
  percent_change = prices_r.pct_change()
  returns = np.log(1+percent_change)

  meanReturn_daily = returns.mean()
  stdDev_daily = returns.std()    

  meanReturn_year= meanReturn_daily * 365
  stdDev_year= stdDev_daily *stdDev_daily* 365

  l_returns.append(meanReturn_year)
  l_stdDev.append(stdDev_year)

In [44]:
companies_returns=list(zip(companies,l_returns))
companies_stddev=list(zip(companies,l_stdDev))

In [45]:
companies_returns

[('AAPL', 0.3700680379142373),
 ('AMZN', 0.4447562102652766),
 ('MSFT', 0.34874318892447237),
 ('GOOG', 0.25098799000287664),
 ('FB', 0.33424316922218367),
 ('NVDA', 0.582100040715823),
 ('PG', 0.16589283819663966),
 ('TSLA', 0.6779141428282532)]

In [46]:
#prueba de modificacion desde jupyter notebook.